*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.a1{
text-align: center;
text-transform:capitalize;
background-color:rgb(15, 101, 101) 


}
.h2{
text-align: left;
text-decoration: underline;
color: red;
background-color: rgb(191, 185, 185) ;
}
.p2{
background-color: rgb(191, 185, 185) ;
text-align: left;

}
.p3{
   
    background-color:rgb(191, 185, 185) ;
    text-align: left;

}
.footer{

    background-color:rgb(15, 101, 101) ;
text-align: center;
}
