*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h1{
    text-align: center;
    background-color: white;
}
.h1{
    text-align: center;
    text-transform: uppercase;
    font-style:oblique;
    background-color:white;

}
body{
background-image: url("../html/pic/images\ \(1\).jpg");
background-size: cover;
}
.h3{
text-decoration: underline;
color: red;
text-align: left;

}
.p{
    text-align: left;
}
.sp{

    text-align: left;
    color: red;
    background-color: yellow;
}

