*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1{

    text-transform: capitalize;
    text-align: center;
    text-decoration: underline;
}



.h3{
text-align: left;
text-transform: capitalize;
}
.p1{
text-align:right;
}
.h31{

   text-transform: uppercase;
}
.p2
{
text-align: center;
text-decoration: overline;
}
.h4{
text-transform: lowercase;
}
.p3{
text-decoration: line-through;

}